<div class="card-container" *ngIf="comment">
    <div class="card-header">
        <img class="card-avatar" [attr.src]="'assets' + comment.user.image.webp" alt="Avatar">
        <p class="username">{{comment.user.username}}</p>
        <span class="user-badge" *ngIf="isUser">you</span>
        <span class="date">{{comment.createdAt}}</span>
    </div>
    <div class="card-comment">
        <p><em *ngIf="comment.replyingTo" class="reply-username">@{{comment.replyingTo}} </em>{{comment.content}}</p>
    </div>
    <div class="card-actions" >
        <app-score-control [score]="comment.score" (changeScore)="handleScoreChange($event)"></app-score-control>
        <app-button class="delete" (click)="handleDelete()" [class.delete-spacing]="isUser" text="Delete" type="icon" color="warning" iconName="delete" [enableHoverFx]="true" *ngIf="isUser"></app-button>
        <app-button class="reply-btn" text="Reply" type="icon" color="primary"
            iconName="reply" [enableHoverFx]="true" (click)="isCurrentlyReplying = true"></app-button>
    </div>
</div>
<div class="replies" *ngIf="!!comment.replies && comment.replies.length > 0">
    <ng-content></ng-content>
</div>
<ng-container *ngIf="isCurrentlyReplying">
   <app-reply-card [currentUser]="currentUser" (reply)="handleAdd($event)" [replyingTo]="'@' + (comment?.user?.username || '')"></app-reply-card>
</ng-container>